html,
body {
    background-color: #F5F5F5;
}

.article-view {
    display: flex;
    flex-direction: row-reverse;
}

/* Sessão da imagem */
.article-view section.article-imagens {
    width: 40vw;

    padding-top: 4em;
    display: flex;

    flex-direction: column;
    align-items: center;
}

/* Sessão do  conteudo*/
.article-view section.article-content {
    background-color: #fff;

    width: 60vw;
    height: fit-content;

    padding: 79px;
    padding-top: 7em;

    font-family: 'Spectral';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    text-indent: 14px;
}

section.article-content h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
}

.btn-naked {
    color: black;
    cursor: pointer;
}

.btn-naked#editor {
    position: absolute;
    right: auto;
    top: 5em;
}

/* Responsividade */
@media (max-width: 980px) {
    .article-view {
        flex-direction: column-reverse;
    }

    .article-view section.article-imagens {
        width: 100%;
        padding-top: auto;
        padding-bottom: 7em;
    }

    .article-view section.article-content {
        width: 100%;
        padding: 25px;
        padding-top: 7em;
    }
}

@media (min-width: 1440px) {
    .article-view {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .article-view section.article-imagens {
        padding-top: auto;
        padding-bottom: 7em;
    }

    .article-view section.article-content {
        max-width: 900px;
        padding: 80px;
        padding-top: 7em;
    }
}