/* Menu */
.primary-menu {
    --padding: 0.7em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 var(--padding) 0 var(--padding);
    gap: 1.5em;
}

.primary-menu li{
    display: inline;
}


.primary-menu a{
    text-decoration: none;

    position: relative;
    color: black;
}

.primary-menu a::after{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 100vw;
    background-color: black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0.15s;

}

.primary-menu a:hover::after{
    transform: scaleX(1);
    transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}

.primary-menu {

    position: fixed;
    justify-content: center;
    flex-direction: column;
    inset: 0 50% 0 0;
    background-color: white;

    border-radius: 10px;
    box-shadow: -5px 0 15px 0px rgba(0, 0, 0, 0.178);
    transform: translateY(-100%) translateX(5%);
    transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.7s cubic-bezier(0.87, 0, 0.13, 1);
    z-index: 95;
    height: 17em;
    width: 10em;
}

.primary-menu[data-visible="true"]{
    transform: translateY(25%) translateX(5%);
    transition: transform 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (max-width: 920px){
    .primary-menu[data-visible="true"]{
        transform: translateY(30%) translateX(5%);
    }
}

@media (max-width: 300px){
    .primary-menu[data-visible="true"]{
        transform: translateY(35%) translateX(5%);
    }
}