@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Spectral:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&display=swap');

:root {
  --step--2: clamp(0.69rem, calc(0.68rem + 0.05vw), 0.72rem);
  --step--1: clamp(0.83rem, calc(0.81rem + 0.13vw), 0.90rem);
  --step-0: clamp(1.00rem, calc(0.95rem + 0.24vw), 1.13rem);
  --step-1: clamp(1.20rem, calc(1.12rem + 0.40vw), 1.41rem);
  --step-2: clamp(1.44rem, calc(1.32rem + 0.62vw), 1.76rem);
  --step-3: clamp(1.73rem, calc(1.54rem + 0.92vw), 2.20rem);
  --step-4: clamp(2.07rem, calc(1.81rem + 1.31vw), 2.75rem);
  --step-5: clamp(2.49rem, calc(2.12rem + 1.84vw), 3.43rem);
  --grey: #F3F3F3;
  --text-color: #737373;
}

.body {
  box-sizing: border-box;
}

* {
  font-family: 'Spectral', serif;
  font-size: var(--step-0);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: black;
}

h1 {
  font-size: var(--step-5);
  font-weight: 600;
  font-family: 'Playfair-display', serif;
}


h2 {
  font-family: 'Playfair-display', serif;
  font-size: var(--step-4);
  font-weight: 600;
  text-transform: capitalize;
}

h3 {
  font-family: 'Spectral', serif;
  font-size: var(--step-3);
  font-weight: 500;
  text-align: center;
}

button {
  border: none;
  outline: none;
}

.primary {
  border-radius: 6px;
  background-color: white;
  border: 3px solid black;
  box-sizing: border-box;
  font-weight: bold;
  color: black;
  width: 6em;
  padding: 0.5em 0.25em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

.primary::after {
  content: "Acessar.";
  position: relative;
  display: block;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

.primary::before {
  content: "";
  position: absolute;
  display: block;
  width: 102%;
  height: 106%;
  padding: 0.5em 0.25em;
  background-color: black;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1) 0.15s;
}

.primary:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);
}

@media (max-width: 700px) {
  .primary::before {
    display: none;
  }

  .primary:hover {
    background-color: black;
  }
}



/* Top Bar*/
.top-bar {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  gap: 8.5em;
  padding: 0em 1.5em;
  z-index: 100;

}

.top-bar div {
  width: 22em;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.logo h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: var(--step-2);
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil {
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Botões */
.menu-button,
.buttons {
  width: 3em;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 6px;
  padding: 0.5em;
  position: relative;
  transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.menu-button:hover,
.buttons:hover {
  background-color: #e0e0e0;
}

.menu-button {
  position: relative;
  z-index: 150;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



.menu-button::after,
.menu-button::before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 100vw;
  transform: rotate(0deg);
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-button::after {
  margin: 5px 0px 0px;
}

.clicado::after {
  margin: -5px 0px 0px;
  transform-origin: center;
  transform: rotate(45deg);
}

.clicado::before {
  margin: 0px 0px 0px 0px;
  transform: rotate(-45deg);
}

.geral {
  box-sizing: border-box;
}

.home,
.articles {
  box-sizing: border-box;
}

/* Inicio da página*/
.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4em 1.5em;
  padding-top: 7em;
}

.home * {
  width: 50%;
}


.init h1 {
  text-transform: capitalize;
}

.init h1,
.init p {
  width: 75%;
}

.init p {
  color: black;
}

.init form {
  width: 55%;
  height: 2em;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.img {
  width: 20em;
  height: 22.5em;
  background-image: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia23809.jpg');
  background-size: cover;
}


/* Card de artigos*/
.articles {
  padding: 1.5em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5em;
  background-color: var(--grey);
}

.article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.card-article {
  width: 39em;
  height: 17em;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.img-article {
  width: 40%;
  height: 100%;
  background-image: url('https://i0.wp.com/www.historiadasartes.com/wp-content/uploads/2021/06/m_SargentAutorretrato.jpg?resize=473%2C450&ssl=1');
  background-size: cover;
  background-repeat: no-repeat;
}

.card-text {
  padding: 0.5em 2.25em;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  text-align: justify;
  flex-wrap: wrap;
}

.card-text p {
  --max-lines: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  max-height: calc(var(--lh) * var(--max-lines));
  text-overflow: -o-ellipsis-lastline
}

/* Inputs */

/*Search Bar*/

section.search {
  width: 60%;
  height: 100%;
}

#search-bar-top {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.25em 0.8em;
  color: black;
  position: relative;
  margin-top: 10px;
  border-bottom: 2px solid #F3F3F3;
  box-sizing: border-box;
}



label.label-search {
  position: relative;
  width: 100%;

}

label.label-search::after {
  content: "";
  display: block;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: left;
  transform: scaleX(0);
  width: 100%;
  height: 4px;
  margin-top: -13px;
  border-radius: 100vw;
  background-color: black;


}

#search-bar-top:focus+label.label-search::after {
  transform: scaleX(1);
  transition: transform 0.5s cubic-bezier(0.83, 0, 0.17, 1);


}

/* Limpa o botãozinho de cancelar do Explorer*/
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Limpa o botãozinho de cancelar do Chrome*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*Créditos - https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb*/


#search {
  width: 90%;
  height: 100%;
  outline: none;
  border: 2px solid #737373;
}

#search::placeholder {
  font-style: italic;
  color: #737373;
}

#search-submit {
  height: 100%;
  background-color: black;
}

#search-submit::before {
  content: "Pesquisar";
  display: block;
  position: relative;
  color: white;
}


.mobile-nav {
  width: 100%;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
  display: none;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  padding: 0.5em;
  gap: 0.8em;
}

.mobile-button {
  background-color: black;
  position: relative;
  width: 3.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.5em;
}

.mobile-button *{
  color: currentColor;
}

.create{
  display: block;
}

.create::after,
.create::before {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  position: relative;
  background-color: white;
  border-radius: 100vw;
}

.create::before {
  top: 2px;
}

.create::after {
  top: -2px;
  transform: rotate(90deg);
}


/* Responsividade*/
@media (max-width: 800px) {
  .img {
    display: none;
  }

  .init {
    width: 100%;
  }

  .init form {
    width: 100%;
  }

  .card-article {
    width: 35em;
  }
}

@media (max-width: 700px) {
  .article {
    width: 100%;
  }


  .card-article .img-article {
    width: 40%;
  }

  .card-article .card-text {
    width: 60%;
  }

  .card-article {
    /*  Adicionar clamp depois */
    width: 100%;
  }

  section.search {
    display: none;
  }

}

@media (max-width: 700px) {

  .card-text p {
    display: none;
  }

  .card-article .img-article {
    width: 60%;
  }

  .card-article .card-text {
    width: 50%;
  }

  .card-article .primary {
    display: block;
  }


  div.logo {
    display: none;
  }

  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .perfil{
    justify-content: end;
  }
}

@media (max-width: 320px) {
  .card-article {
    flex-direction: column;
  }

  .card-article .img-article {
    width: 100%;
  }

  .card-article .card-text {
    width: 100%;
  }
}

/* Seleção */
::selection {
  background: #000000ee;
  color: #fff;
}